/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
    background-repeat: no-repeat;
    background-color: rgb(212, 211, 211)
}
.hongchau{
    background-repeat: no-repeat;
    background-color: rgb(212, 211, 211)
}